.totalMinted {
  margin: 12px 0 24px;
  font-size: 16px;
}

.mintInfo {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Padding for content */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); /* Softer shadow */
  margin-bottom: 20px; /* Space below */
  text-align: center; /* Center text */
}

.text {
  font-size: 22px; /* Larger font size for emphasis */
  color: #4a4a4a; /* Darker text color */
}
